/* nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9F3F3;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #9C9595;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #5CC767;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}
/*gallery*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/*div.desc {
  padding: 15px;
  text-align: center;
}